version: '3.8'

services:
  backend:
    build: .
    ports:
      - "8545:8545"
    command: sh -c "npx hardhat node & sleep 10 && npx hardhat run scripts/deploy.js --network localhost && wait"
    networks:
      - app_network
    volumes:
      - ./frontend:/app/frontend # Mount frontend dir so deploy script can write .env there

  frontend:
    build: ./frontend
    ports:
      - "3000:3000"
    working_dir: /app
    volumes:
      - ./frontend:/app
      - /app/node_modules
    networks:
      - app_network
    depends_on:
      - backend
    environment:
      - CHOKIDAR_USEPOLLING=true

networks:
  app_network:
    driver: bridge
